.cli-window{
    height: 100%;
    overflow: auto;
    padding-bottom: 3.9rem;
    
    div[name="react-console-emulator"]{
        height: 100%;
        background: transparent !important;
        
}
    
}