* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;

}

// src/App.scss

main {
    height: 100%;
    width: 100%;
    // background-image: url(...);  <-- IS LINE KO HATA DEIN
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative; // Video aur image ko correctly position karne ke liye zaroori hai
}

// Ye CSS Background component ke liye zaroori hai
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; // Taaki ye Nav aur Dock ke niche rahe
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

// .background-video {
//     position: absolute;+
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover; // Ye video ko screen ke hisaab se crop karke fit kar dega
//     z-index: -1;
// }

// .content {
//     position: relative;
//     z-index: 1;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     color: white;
//     font-size: 2rem;
// }